@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 버거킹 폰트 */
@font-face {
  font-family: 'Insaniburger';
  src: url('Insaniburger.woff2') format('woff2'),
      url('Insaniburger.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 도시락통 폰트 */
@font-face {
  font-family: 'Godo B';
  src: url('GodoB.woff2') format('woff2'),
      url('GodoB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --swiper-theme-color: #343434 !important;
}

/* 노멀라이즈 */
html {
  font-family: "Noto Sans KR", "Roboto";
}

a {
  text-decoration: none;
  color: #303030;
  vertical-align: middle;
}

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html>* {
  box-sizing: border-box;
}

/* 라이브러리 */
:root {
  --main-color: #5C89A1;
  --sub1-color: #303030;
  --sub2-color: #FFFFFF;
  --sub3-color: #E9E9E9;
}

a {
  vertical-align: middle;
}

img {
  vertical-align: middle;
  border: 0 none;
}

.con {
  margin: 0 auto;
}

/* 풀페이지 관련 */

/* 공통 */



/* 커스텀 */

/* 공통 */

/* 탑바 */
.top-bar {
  position: fixed;
  width: 100%;
  /* background-color: var(--sub2-color);
  opacity: 90%; */
  z-index: 99999;
}

.top-bar .inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

/* 로고 */
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  /*   border:1px solid; */
}

/* 메뉴 */
.menu-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  width: 100%;
}

.menu-box>ul>li {
  height: 50px;
  padding: 0 24px;
  /* border:3px solid blue; */
}

.menu-box>ul>li>a {
  position: relative;
  height: 100%;
}

/* 메뉴아이템 밑줄 애니메이션 */
.menu-box>ul>li>a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 50%;
  bottom: 0;
  background-color: var(--sub1-color);
  transition: 0.3s;
  transform: translatex(-50%);
}

.menu-box>ul>li:hover>a::after {
  width: 100%;
}

/* 활성화된 페이지에서의 밑줄 */
.menu-box>ul>li.active>a::after {
  width: 100%;
}

/* 메뉴아이템 텍스트 */
.menu-box>ul>li span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'SBAggroL';
  line-height: 5;
  /* border:3px solid red; */
}

/* 개별 */

/* 01 HOME */

/* 상하 정중앙 해제 */
.aboutme-1 .fp-tableCell {
  vertical-align: baseline;
}

/* 배경이미지 최종적으로 넣지 고민중 */
.main-page {
  height: 100vh;
  /* 
  position: relative;
  background-image: url("https://i.postimg.cc/tTGP23XD/00-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  */
}

/* 메인탑 */
.main-page_top {
  position: relative;
  height: calc(100% / 5);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 15;
}

.main-page_top div {
  width: calc(100% / 4);
  height: 100%;
  background-color: var(--main-color);
}

/* 메인센터 */
.main-page_center {
  width: 100%;
  height: 476px;
}

.main-page_center .inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10;
}

/* 메인텍스트 */
.main-page_center .inner>.text-box {
  height: 100%;
  padding-left: 20px;
}

/* 반응형 폰트로 적용 */
.main-page_center .text-box .title-text {
  font-family: 'SBAggroM';
  font-size: 7vw;
  line-height: 0.8;
  padding-top: 120px;
}

.main-page_center .text-box .sub-text {
  font-family: 'SBAggroL';
  font-size: 6vw;
  line-height: 1.2;
}

/* 메인바텀 */
.main-page_bottom {
  position: absolute;
  height: 35%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--sub1-color);
  /* opacity: 60%; */
}

.main-page_bottom>.inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.main-page_bottom>.inner>span {
  position: absolute;
  font-family: 'SBAggroL';
  font-size: 1.1vw;
  padding: 24px 24px;
  color: var(--sub3-color);
}

.main-page_bottom>div:last-child {
  float: right;
  width: calc(100% / 3);
  height: 100%;
  background-color: var(--main-color);
}

/* 개별 */

/* 02 ABOUT ME */

/* 페이지 내용 정중앙으로 오게 하는 커스텀 */
/* #fullpage > .section > div {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:10vw;
  } */

/* 페이지네이션 바 라인 커스텀 */
.line {
  position: fixed;
  right: 10%;
  top: 50%;
  width: 1px;
  height: 600px;
  background-color: var(--sub1-color);
  transform: translatey(-50%);
  z-index: 99;
}

/* 페이지네이션 탭 */
.line-tab {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100px;
  background-color: var(--sub1-color);
  transform: translatex(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.line-tab.active {
  opacity: 1;
  visibility: visible;
}

/* 페이지네이션 텍스트 */
.line-tab>a {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translatey(-50%);
  white-space: nowrap;
  font-weight: 400;
  font-family: 'Roboto';
  color: var(--sub1-color);
}

.line-tab-2 {
  top: 100px;
}

.line-tab-3 {
  top: 200px;
}

.line-tab-4 {
  top: 300px;
}

.line-tab-5 {
  top: 400px;
}

.line-tab-6 {
  top: 500px;
}

/* ABOUT ME > about me */

.aboutme-1 {
  position: relative;
}

.my_top {
  position: relative;
  height: 30%;
  max-width: 1200px;
  margin: 0 auto;
  /* border:3px solid red; */
}

.my_top>span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 36px;
  font-weight: 400;
  font-family: 'SBAggroL';
  padding-left: 24px;
  padding-bottom: 16px;
  color: var(--main-color);
}

.my_center {
  height: 35%;
  margin: 0 auto;
  background-color: var(--sub3-color);
}

.my_center>.inner {
  position: relative;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* border:3px solid red;  */
}

.my_center>.inner>.img-box {
  position: absolute;
  top: 60%;
  right: 12px;
  width: 480px;
  object-fit: contain;
  transform: translatey(-56%);
  z-index: 100;
  /* border:3px solid red; */
}
.my_center>.inner>.img-box img {
  /* border:3px solid red; */
}
.my_center>.inner>.cen-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -2%;
  padding-top: 70px;
  padding-left: 24px;
  line-height: 1.2;
  width: 1200px;
  margin: 0 auto;
  color: var(--main-color);
}

.my_center>.inner>.cen-text>div:nth-child(2) {
  padding: 16px 0;
}

.my_bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  background-color: #5C89A1;
  padding-bottom: 24px;
}

.my_bottom>div span:nth-child(2) {
  display: flex;
  align-items: center;
  padding-left: 4px;
}

/* ABOUT ME > its me */

.aboutme-2 {
  background-color: var(--main-color);
}

/* 이너의 커스텀이 적용 안되는거 같음... -> 어바웃미와 이너사이에 div가 또 있었음. 라이브러리를 활용할때는 기존 html코드도 확인해보자! */
.aboutme-2>div>.inner {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  /* border:3px solid red; */
}

/* 오브젝트핏 콘테인으로 사이즈 조정 */
.aboutme-2 .left-box img {
  width: 540px;
  height: 674px;
  padding-left: 14px;
  object-fit: cover;
  object-position: bottom right;
}

.aboutme-2 .right-box .sec-2_text {
  font-weight: 300;
  color: var(--sub3-color);
  padding-left: 4px;
}

.aboutme-2 .right-box .title-text {
  font-family: 'SBAggroL';
  font-size: 24px;
  padding: 24px 0 8px 0;
}

.aboutme-2 .right-box .sub-text {
  font-size: 18px;
  letter-spacing: -5%;

}

.aboutme-2 .right-box div:first-child img {
  width: 400px;
  object-fit: contain;
  object-position: bottom left;
}

.aboutme-2 .right-box div:last-child img {
  right: -1.8%;
  width: 650px;
  object-fit: contain;
  object-position: 0 0;
}



/* 03 WEB RENEWAL */
/* 04 APP REDESIGN */

/* 공통 */
/* 화면 위쪽 빈공간 */
.page_top>div {
  height: 12vh;
  width: 100%;
}
/* 전체 위치 */
.page_inner {
  /* border:3px solid red; */
  width: 1200px;
  height: 88vh;
  margin: 0 auto;
}
/* 좁은 화면일 때 화면 좌우 여백 */
.slider-box-1,
.slider-box-2,
.slider-box-3 {
  padding: 0 24px;
}

/* 커스텀 */

.slider-box-1,
.slider-box-2,
.slider-box-3 { 
  display: flex;
  position: relative;
  border:3px solid gold;
  height: 88vh;
}

/* 웹 리뉴얼 개별 커스텀 */
.slider-box-1 .swiper {
  width: 60%;
  height: 70vh;
  /* border:3px solid green; */
  margin-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

/* 앱 리디자인 개별 커스텀 */
.slider-box-2 .swiper {
  width: 47%;
  height: 72vh;
  /* border:3px solid green; */
}



/* 앱 리디자인 이미지 위치 */
.slider-box-2 .swiper .swiper-slide img,
.slider-box-3 .swiper .swiper-slide img {
  position: absolute;
  right:0;
  /* border:3px solid red; */
  height: 100%;
}

.slider-box-1__content-box,
.slider-box-2__content-box,
.slider-box-3__content-box {
  display: flex;
  flex-grow: 1;
  position: relative;
    /* border:3px solid red; */
}
.slider-box-3__content-box {
  margin-right: 36px;
}
.slider-box-1 .content-box,
.slider-box-2 .content-box,
.slider-box-3 .content-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  /* border:3px solid blue; */
  padding: 10vh 0;
}

.slider-box-1 .content-box.active,
.slider-box-2 .content-box.active,
.slider-box-3 .content-box.active{
  visibility: visible;
}

.slider-box-1 .txt-box,
.slider-box-2 .txt-box,
.slider-box-3 .txt-box {
  transition: 1s;
  transform: translateY(-100px);
  opacity: 0;
  /* border:3px solid pink; */
}

.slider-box-3 .cen-text {
  /* background-color: var(--sub2-color); */
  transition: 1s;
  opacity: 0;
}
.slider-box-1 .content-box.active .txt-box,
.slider-box-2 .content-box.active .txt-box,
.slider-box-3 .content-box.active .txt-box{
  transform: translateY(0);
  opacity: 1;
}

.slider-box-3 .content-box.active .cen-text {
  opacity: 1;
}

.slider-box-1 .content-box .badge,
.slider-box-2 .content-box .badge,
.slider-box-3 .content-box .badge{
  background-color: #CF112B;
  display: inline-block;
  color: white;
  padding: 4px 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* 앱리디자인 개별 색상 */
.slider-box-2 .content-box .badge.app {
  background-color: #EF8D47;
} 
/* 앱리디자인 개별 색상 */
.slider-box-3 .content-box .badge.app {
  background-color: #3660EA;
} 

.slider-box-1 .content-box .en-title{
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1;
  padding-top: 10px;
}

.slider-box-1 .content-box .en-title>span{
  font-weight: bold;
}

.slider-box-2 .content-box .en-title {
  font-family: 'Insaniburger';
    font-size: 44px;
    line-height: 1;
    padding-top: 2px;
    color: #EF8D47;
  }
  .slider-box-3 .content-box .en-title {
    font-family: 'Godo B';
      font-size: 36px;
      line-height: 1.1;
      padding-top: 2px;
      font-weight: bold;
      color: var(--sub1-color);
      /* border:3px solid gold; */
    }

.slider-box-1 .content-box .en-title>span:first-child,
.slider-box-2 .content-box .en-title>span:first-child {
  font-weight: 200;
}

.slider-box-1 .content-box .ko-title,
.slider-box-2 .content-box .ko-title,
.slider-box-3 .content-box .ko-title {
  font-size: 20px;
  color: #9F9F9F;
  letter-spacing: -0.02em;
}

/*  센터 내용 */
.slider-box-3 .content-box .cen-text {
  margin-top: 36px;
  font-family: noto sans KR;
  font-size: 14px;
}
.slider-box-3 .content-box .cen-text-1 >div > span {
  padding: 2px 0;
  font-weight: 600;
}
.slider-box-3 .content-box .cen-text-1 >div > span:first-child {
width: 120px;
}
.slider-box-3 .content-box .cen-text-2 {
  padding: 16px 0;
}
.slider-box-3 .content-box .cen-text-3 {
  color: red;
}


.slider-box-1 .link-box,
.slider-box-2 .link-box,
.slider-box-3 .link-box {
  font-size: 18px;
  /* border:3px solid pink; */
  height: 35%;
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--sub2-color);
  padding-top: 18px;
  padding-left: 2px;
}

.slider-box-1 .link-box a,
.slider-box-2 .link-box a,
.slider-box-3 .link-box a {
  margin-right: 16px;
  display: inline-block;
}

.slider-box-1 .link-box a span,
.slider-box-2 .link-box a span,
.slider-box-3 .link-box a span {
  line-height: 1.6;

}

.slider-box-1 .link-box img,
.slider-box-2 .link-box img,
.slider-box-3 .link-box img {
  padding-right: 2px;
}

.slider-box-1 .link-box a:hover,
.slider-box-2 .link-box a:hover,
.slider-box-3 .link-box a:hover {
  border-bottom: 1px solid white;
}


.slider-box-1 .swiper-button-box,
.slider-box-2 .swiper-button-box {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 35vh;
}

.slider-box-1 .swiper-button-box .swiper-button-prev,
.slider-box-1 .swiper-button-box .swiper-button-next,
.slider-box-2 .swiper-button-box .swiper-button-prev,
.slider-box-2 .swiper-button-box .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 555px;
  transition: 0.3s;
  box-shadow: 1px 1px 3px #E9E9E9,
    -1px -1px 3px #E9E9E9;
}

.slider-box-1 .swiper-button-box .swiper-button-next::after,
.slider-box-1 .swiper-button-box .swiper-button-prev::after,
.slider-box-2 .swiper-button-box .swiper-button-next::after,
.slider-box-2 .swiper-button-box .swiper-button-prev::after {
  font-size: 20px;
}

.slider-box-1 .swiper-button-box .swiper-button-prev,
.slider-box-2 .swiper-button-box .swiper-button-prev {
  top: 58%;
  left: 0;
}

.slider-box-1 .swiper-button-box .swiper-button-next,
.slider-box-2 .swiper-button-box .swiper-button-next {
  top: 58%;
  left: 58px;
}

.slider-box-1 .swiper-button-box .swiper-button-prev:hover,
.slider-box-1 .swiper-button-box .swiper-button-next:hover,
.slider-box-2 .swiper-button-box .swiper-button-prev:hover,
.slider-box-2 .swiper-button-box .swiper-button-next:hover {
  background-color: #CF112B;
  color: var(--sub2-color);
}

/* 앱리디자인 개별 색상 */
.slider-box-2 .swiper-button-box .swiper-button-prev.app:hover,
.slider-box-2 .swiper-button-box .swiper-button-next.app:hover {
  background-color: #EF8D47;
}

.page_bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  background-color: #CF112B;
  padding-bottom: 24px;
  z-index: -1;
}

/* 앱리디자인 개별 색상 */
.page_bottom.app {
  background-color: #EF8D47;
}
.page_bottom.clone {
  background-color: #3660EA;
}

/* 클론코딩 개별 커스텀 */

/* 스와이퍼 메인 컨테이너는 반!드!시! 높이가 지정되어 있어야 한다. */
.slider-box-3 .swiper {
  border:3px solid green;
  width: 70%;
  height: 70vh;
  /*  swiper 슬라이드의 넓이가 동일하도록 inline-block의 원리를 이용(넓이를 주지 않을 경우 최소한으로 줄어듦)  */
  /* display:inline-block; */
  /* swiper의 overflow 속성을 visible로 할 경우 끝없이 뻗어나가는 오류를 막음 */
  overflow:hidden;
  margin-top: 20px;
}

.slider-box-3 .swiper .swiper-wrapper {
  /* 넘쳐난 사이즈가 잘리지 않도록 위 아래에 여백을 줌 */
  margin:80px 0;
  height:500px;
  
  /* 스와이퍼의 기존 속성 hidden을 visible로 변경하여 파란 테두리 바깥 넘쳐난 슬라이드를 보이게 함 */
  overflow:visible;
  /* border:3px solid blue; */
}

.slider-box-3 .swiper .swiper-slide {
  /* border:3px solid red; */
  background-color:gray;
  transition:0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}
.slider-box-3 .swiper .swiper-slide .a {
  border-radius: 555px;
}

.slider-box-3 .swiper .swiper-slide.swiper-slide-active {
  transform:scale(1.3);
  
  /* 다음 슬라이드에 가려지지 않도록 유령의 우열을 높임 */
  z-index:10;
}





/* 클론코딩 선생님 소스 버전: 적용시 선택자명 4 -> 3 으로 변경*/

/* 스와이퍼 메인 컨테이너는 반!드!시! 높이가 지정되어 있어야 한다. */
.slider-box-4 .swiper {
  border:3px solid green;
  width: 70%;
  height: 70vh;
  /*  swiper 슬라이드의 넓이가 동일하도록 inline-block의 원리를 이용(넓이를 주지 않을 경우 최소한으로 줄어듦)  */
  /* display:inline-block; */
  /* swiper의 overflow 속성을 visible로 할 경우 끝없이 뻗어나가는 오류를 막음 */
  overflow:hidden;
  margin-top: 20px;
}

.slider-box-4 .swiper .swiper-wrapper {
  /* 넘쳐난 사이즈가 잘리지 않도록 위 아래에 여백을 줌 */
  margin:80px 0;
  height:500px;
  
  /* 스와이퍼의 기존 속성 hidden을 visible로 변경하여 파란 테두리 바깥 넘쳐난 슬라이드를 보이게 함 */
  overflow:visible;
  /* border:3px solid blue; */
}

.slider-box-4 .swiper .swiper-slide {
  /* border:3px solid red; */
  background-color:gray;
  transition:0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}
.slider-box-4 .swiper .swiper-slide .a {
  border-radius: 555px;
}

.slider-box-4 .swiper .swiper-slide.swiper-slide-active {
  transform:scale(1.3);
  
  /* 다음 슬라이드에 가려지지 않도록 유령의 우열을 높임 */
  z-index:10;
}